@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jersey+20&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-font: "Noto Sans Display", Roboto, sans-serif;
  --secondary-font: "DM Serif Text", serif;
  --accent-font: "Jersey 20", sans-serif;
  --main-bg: antiquewhite;
  --hero-bg: darkorchid;
  --hero-left-bg: pink;
  --hero-right-bg: lightcoral;
  --border-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: black;
    --hero-bg: gray;
    --hero-left-bg: rgb(40, 5, 104);
    --hero-right-bg: olive;
    --border-color: white;
  }
}

body {
  font-family: var(--primary-font);
  background: var(--main-bg);
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--secondary-font);
}

header {
  background-color: var(--main-bg);
  position: sticky;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 100vw;
  margin: 0em 0em 1em 0em;
  padding: 0.5em;
  border-bottom: 2px solid var(--border-color);
}

header > h1 {
  font-family: var(--accent-font);
  font-size: min(3em, 7vw);
  display: inline-block;
  margin: 0px;
  padding: 0em 0.5em;
}

section.hero {
  background: var(--hero-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 5em 0em 10em 0em;
}

div.hero-left {
  padding: 0px 10%;
  font-family: var(--secondary-font);
  font-size: max(2em, 2.5vw);
  font-weight: bold;
}

div.hero-left .greetings p {
  margin: 0.5em 0em;
}

div.hero-left button {
  padding: 0.8em;
}

div.hero-left button a {
  font-size: 2em;
  text-decoration: none;
}

@media (orientation: portrait) {
  section.hero {
    justify-content: flex-start;
    padding: 0em 0em 4em 0em;
  }
}